@charset "utf-8";
/* CSS Document */

/* HTML
========================================================*/
* { margin:0; border:0; padding:0; }
body { background-color:#ffffff; background-image:url(img/map_bg.jpg);}


/* MAJOR PARTS
========================================================*/

.wrapper { position:relative; margin:0 auto;  background:#fff; width:950px; wid\th:950px; }

.break { clear:both; float:none; font-size:0; line-height:0; }

.across { width:100%; }


.mainpage {margin: auto; width: 950px;}


.container {width:750px;}

.center3 { padding:10px 10px 10px 10px; font:12px/22px verdana, arial; color:#555555; overflow:hidden; width:950px; wid\th:950px;  }

.content3 { width:950px; background-color:#ffffff; }

img.floatLeft { 
    float: left; 
	padding: 10px 30px 10px 30px;
    margin: 4px; 
}
img.floatRight { 
    float: right;
	 padding: 10px 30px 10px 30px;
    margin: 4px; 
}


.a {
	font-size: 12px;
	color: #af8cb4;
	font-family:"Times New Roman", Times, serif
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #af8cb4;
}
a:hover {
	text-decoration: underline;
	color: #96709b;
}
a:active {
	text-decoration: none;
	color: #af8cb4;
}
#navMain { background:url(navigation/nav_bg.jpg); clear:both; float:none; background-repeat:repeat-x; width:950px; height:31px;  }

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CCCCCC;
}
.whitelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
}
.bottomlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #af8cb4;
}
.verdanalink{
	font-size: 12px;
	color: #af8cb4;
	font-family:Verdana, Arial, Helvetica, sans-serif
}

.verdanalink:hover{
	text-decoration: underline;
}

.footerText {
	font-size:10px; 
	color: #999;
}

p.big {line-height:150%;}

