---
layout: default
---
<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>
<nav>
<p><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
   <img src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg" width = "100">
</a></p>
</nav>
{{ content }}
![DropBox](https://en.wikipedia.org/wiki/Dropbox_(service)#/media/File:Dropbox_logo_2017.svg)

<h1>object-fit: cover</h1>
<img class="centered-and-cropped" width="200" height="200" 
style="border-radius:50%" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg" width = "100">
