---
layout: default
---
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
        <p><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
        <img class="centered-and-cropped" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg">
        </a><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
        <img class="centered-and-cropped" style="border-radius:50%" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg">
        </a></p>
      </div>
    </header>

<nav>
<p><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
   <img class="centered-and-cropped" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg">
</a><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
   <img class="centered-and-cropped" style="border-radius:50%" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg">
</a></p>
</nav>
{{ content }}

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

