---
layout: default
---

<nav>
<p><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
   <img class="centered-and-cropped" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg">
</a><a href="https://www.dropbox.com/sh/v75wohr23rei38r/AABMyU66vstdoB0KwQLbuCZna?dl=0">
   <img class="centered-and-cropped" style="border-radius:50%" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/branding/dropbox-logo@2x.jpg">
</a></p>
</nav>
{{ content }}

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

